.circle_1,
.circle_2 {
  background-color: #e17cfd;
  opacity: 0.9;
  filter: blur(36px);
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 32px;
  -webkit-border-radius: 32px;
  -moz-border-radius: 32px;
  -ms-border-radius: 32px;
  -o-border-radius: 32px;
}

.circle_1 {
  top: 10px;
  left: 10px;
}

.circle_2 {
  right: 0;
  bottom: 0;
}
